@import 'styles/styles.scss';

.ProjectCard {
  background-color: $super_light_gray !important;
  display: flex;
  flex-direction: column;
  padding: $md;
  margin: 5px;
  //Styles will me moved to mixins when final design version will be ready
  border-radius: 25px;
  box-shadow: 0px 64px 76px rgb(0 0 0 / 10%), 0px 14px 17px rgb(0 0 0 / 4%),
    0px 8px 9.5px rgb(0 0 0 / 4%), 0px 4px 5px rgb(0 0 0 / 3%),
    0px 1.7px 2px rgb(0 0 0 / 2%);

  &-Name {
    margin: auto;
    cursor: default;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-Tags {
    color: $gray;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    height: 50px;
    padding-top: 5px;
  }

  &-Status {
    display: flex;
    justify-content: center;
    padding-bottom: 10px !important;
  }

  &-Button {
    margin: auto !important;
    min-width: 80px !important;
  }

  &-Avatar {
    @include size($card-avatar-size);
    margin: 0 auto $sm !important;
  }
}
