@import 'styles/styles.scss';

.ProjectCard {
  background-color: $super_light_gray !important;
  display: flex;
  flex-direction: column;
  padding: $padding-normal;
  margin: 10px !important;

  &-Name {
    cursor: default;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-Tags {
    color: $gray;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    height: 50px;
  }

  &-Button {
    margin: auto !important;
    min-width: 80px !important;
  }

  &-Avatar {
    @include size($card-avatar-size);
    margin: 0 auto $margin-normal !important;
  }
}
