@import 'styles/styles.scss';

.ProjectPage {
  @include page-panel;

  &-Title {
    @include page-title;
  }

  &-Header {
    height: 35px;
    padding: 0 !important;
    text-align: end;
    position: relative;
    right: -33px;

    @media (max-width: $screen-xs-width) {
      right: 0;
      zoom: 80%;
      margin-top: $xs !important;
    }
  }

  &-Input {
    @include page-input;
  }

  &-InputLabel {
    @include page-input-label;
  }

  &-Price {
    @media screen and (max-width: $screen-xs-width) {
      zoom: 90%;
    }
  }

  &-Checkbox {
    padding-left: 0 !important;
  }

  &-Button {
    margin-bottom: $margin-normal !important;
    margin-top: 0 !important;

    &_second {
      @include second-button;
    }
  }

  &-HeaderButton {
    margin: 0 10px 0 0 !important;
    font-size: $xs-font-size !important;
    width: 150px;

    &_secondary {
      background-color: $secondary !important;
    }

    &_disabled {
      background-color: $super_light_gray !important;
      color: $light_gray !important;
    }
  }

  &-HeaderMenuIcon {
    position: relative;
    top: 7px;
  }

  &-Alert {
    @include page-alert;
  }
}
