@import 'styles/styles.scss';

.AuditInfo {
  padding: $md !important;
  max-width: $page-width-sm;

  &-Title {
    font-size: $mega-font-size;
    text-align: center;
  }

  &-Subtitle {
    font-size: $xl-font-size !important;
    text-align: center;
    color: $text-color;
  }

  &-Price {
    display: flex !important;
  }

  &-Text {
    padding-top: $md !important;
    color: $text-color;
    font-size: $sm-font-size !important;
  }

  &-UploadTitle {
    font-size: $md-font-size !important;
    padding-top: $md !important;
  }

  &-Upload {
    text-align: center;
    color: $gray;
    border: 1px solid $gray;
    align-self: center;
    padding: 3px;
  }

  &-FileTitle {
    align-self: center;
    display: flex;
    margin-left: -5px;
  }

  &-FileTitleText {
    font-size: $md-font-size !important;
    align-self: center;
  }

  &-Mail {
    font-size: $md-font-size !important;
    padding-top: $md !important;
  }

  &-Telegram {
    font-size: $md-font-size !important;
    padding-bottom: $md !important;
  }

  &-Link {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-Icon {
    font-size: $xl-font-size !important;
    color: $gray;
    padding: 5px;
  }

  &-Button {
    width: 100% !important;
    min-width: 0 !important;

    &_second {
      @media screen and (max-width: $screen-xs-width) {
        @include second-button;
      }
    }

    &_third {
      margin-top: 0 !important;
    }
  }
}
