.AppHeader {
  display: flex;
  flex-direction: row;
  padding-right: 20px;

  &-Logo {
    color: white;
    cursor: pointer;
    margin-left: 3%;
    display: inline-flex;
  }
  &-Audit {
    color: #53176d;
  }
  &-DB {
    color: #ff9902;
  }

  &-Panel {
    color: white;
    display: flex;
    flex: 1;
    justify-content: center;
    margin-left: 3%;

    @media screen and (max-width: 700px) {
      width: 0;
      opacity: 0 !important;
      height: 0;
    }
  }

  &-Links {
    display: flex;
    justify-content: right;
    margin-right: 2%;
    margin-left: auto;
  }

  &-Link {
    align-self: center;
    margin: 1.5% !important;
    color: black !important;
    cursor: pointer;
  }

  &-Sign {
    min-width: fit-content !important;
    box-shadow: 0 0 !important;
    margin: 5% !important;

    &_in {
      background-color: #ff9902 !important;
    }
    &_up {
      color: #53176d !important;
      border: 1.5px solid #53176d !important;
    }
  }
}
