@import 'styles/styles.scss';

.AppHeader {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 !important;

  @media screen and (max-width: $screen-xs-width) {
    zoom: 0.9;
  }

  &-Logo {
    margin: 0 10px;
    margin: auto 0;
    padding: 10px 35px 5px 0;
  }

  &-Img {
    cursor: pointer;
    width: 220px;

    @media screen and (max-width: $screen-xs-width) {
      width: $sm-font-size * 10;
      margin-left: -17px;
    }
  }

  &-Buttons {
    margin: auto;
    display: flex;
    flex-direction: row;
    margin: auto -10px auto auto;
  }

  &-Button {
    margin: 0 $xs !important;
  }

  &-UserPanel {
    display: flex;
    flex-direction: row;
    margin: auto -15px auto auto;
  }
}
