@import 'styles/styles.scss';

.UserTypeSwitch {
  display: flex;
  flex-direction: row;
  color: white;
  margin: $sm;

  &-Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 115px;
    height: $xl;
    cursor: pointer;
  }

  &-Type {
    font-size: $xs-font-size;
  }

  &_auditor {
    background-color: $secondary;
  }

  &_customer {
    background-color: $primary;
  }
}
