@import 'styles/styles.scss';

.AuditorInfo {
  max-width: $page-width-sm;
  width: 100% !important;

  &-Avatar {
    @include avatar(150px);
    margin: $margin-normal auto;
  }

  &-Lable {
    margin: auto;
    color: $light-gray;
  }

  &-Data {
    color: $text-color;

    @media screen and (max-width: $screen-sm-width) {
      margin: auto !important;
      text-align: center;
    }
  }

  &-Tags {
    display: flex;
    justify-content: center;
  }

  &-Button {
    margin: $margin-normal auto !important;
  }
}
