@import 'styles/styles.scss';

.AuditorInfo {
  max-width: $page-width-sm;
  width: -webkit-fill-available !important;

  &-Avatar {
    @include avatar(150px);
    margin: $margin-normal auto;
  }

  &-Lable {
    margin: auto;
    color: $light-gray;
  }

  &-Data {
    color: $text-color;
  }

  &-Close {
    @include page-button();
    margin: $margin-normal auto !important;
    // width: 100%;
  }
}
