$primary: #ff9900;
$secondary: #52176d;
$text_color: #434242;

$primary_hover: #ff9900dd;
$secondary_hover: #52176ddd;

$red: #f71515;
$white: #ffffff;
$gray: #808080;
$litle_light_gray: #a9a9a9;
$light_gray: #d9d9d9;
$super_light_gray: #fcfaf6;

$success_bg_color: rgb(212, 245, 212);
$error_bg_color: #fcdfdf;
$disabled_bg_color: $light_gray;

:export {
  primary: $primary;
  secondary: $secondary;
  primary_hover: $primary_hover;
  secondary_hover: $secondary_hover;
  red: $red;
  disabled_bg_color: $disabled_bg_color;
  disabled_text_color: $gray;
  white: $white;
  gray: $gray;
  dark_gray: $litle_light_gray;
  light_gray: $light_gray;
  sper_light_gray: $super_light_gray;
  text_color: $text_color;
}
