//Screen: lg > 1200px, md > 992px, sm > 768px, xs > 576px
$screen-xs-width: 576px;
$screen-sm-width: 768px;
$screen-md-width: 992px;
$screen-lg-width: 1200px;

$page-width-sm: 450px;
$page-width-md: 600px;
$page-width-lg: 700px;
$page-padding: 120px;
$page-margin: 40px;
//----------------------------------------------

$xxs: 10px;
$xs: 15px;
$sm: 20px;
$md: 25px;
$lg: 30px;
$xl: 35px;
$xxl: 40px;

$xxs-font-size: 12px;
$xs-font-size: 14px;
$sm-font-size: 16px;
$md-font-size: 18px;
$lg-font-size: 20px;
$xl-font-size: 22px;
$xxl-font-size: 24px;
$app-font-size: 26px;
$font-size-30px: 30px;
$font-size-40px: 40px;
$font-size-60px: 60px;

$card-avatar-size: 120px;

$s-bage-zoom: 75%;

:export {
  xxs: $xxs;
  xs: $xs;
  sm: $sm;
  md: $md;
  lg: $lg;
  xl: $xl;
  xxl: $xxl;

  xxs_font_size: $xxs-font-size;
  xs_font_size: $xs-font-size;
  sm_font_size: $sm-font-size;
  md_font_size: $md-font-size;
  lg_font_size: $lg-font-size;
  xl_font_size: $xl-font-size;
  xxl_font_size: $xxl-font-size;
  app_font_size: $app-font-size;
  font_size_30px: $font-size-30px;
  font_size_40px: $font-size-40px;
  font_size_60px: $font-size-60px;
}
