@import 'styles/styles.scss';

.UserControl {
  display: flex;
  flex-direction: row;
  margin-right: 1%;

  &-Avatar {
    @include size(80px);
  }

  &-IconButton {
    margin: auto !important;
  }

  &-UserName {
    font-weight: 600;
    color: black;
    margin: auto;
    margin-right: $sm;
    text-align: end;
    width: 350px;

    @media screen and (max-width: $screen-xs-width) {
      display: none !important;
    }
  }

  &-Auditor {
    @media screen and (min-width: $screen-xs-width) {
      display: none !important;
    }
  }

  &-Customer {
    @media screen and (min-width: $screen-xs-width) {
      display: none !important;
    }
  }
}
