.Login {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-Container {
    background-color: #f5f5f5;
    margin: 35px 0 15px 0;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    inline-size: fit-content;
    border-radius: 10px;
    box-shadow: 1px 1px 10px -2px grey;
    width: 70%;
    max-width: 340px;

    &-Header {
      display: flex;
      flex-direction: row;
      margin: auto;
      padding: 10px 0;
      font-size: x-large;
      font-weight: bold;
      color: #504e4e;

      &-text {
        margin: auto;
      }
    }
    &-Error {
      margin: 4% 0 -2% !important;
      background-color: #fcdfdf !important;
      padding-top: 2px !important;
      padding-bottom: 2px !important;
    }
  }
}
