@import 'styles/styles.scss';

.MuiTabs-indicator {
  display: none;
}

.CustomerPage {
  @include page-panel;

  max-width: 600px !important;
  padding-top: $padding-normal !important;
  padding-bottom: $padding-normal !important;
  border: 3px solid $primary !important;
  padding: 0 !important;
  margin-top: 151px !important;

  &-Title {
    @include page-title;
    top: -116px;
  }

  &-Tabs {
    position: absolute;
    top: -51px;
    width: 100%;
    left: -3px;
    right: -3px;
  }

  &-Tab {
    width: 33.3% !important;
    color: $text-color !important;
    margin: 5px 0 -5px 0 !important;
    border-radius: 10px !important;
    border: 1px solid $light-gray !important;
    background-color: $super-light-gray !important;
    text-transform: none !important;

    &_active {
      background-color: $primary !important;
      color: $white !important;
      border: none !important;
    }
  }

  &-TabPanel {
    padding: 50px 80px !important;

    @media screen and (max-width: $screen-sm-width) {
      padding: 0 !important;
    }

    &_audits {
      padding: $padding-normal/2 !important;
    }

    &_projects {
      padding: $padding-normal !important;
    }
  }
}
