@import 'styles/styles.scss';

.Registration {
  @include page-panel;

  &-Title {
    @include page-title;
  }

  &-Control {
    @include page-controll;
  }

  &-Input {
    @include page-input;
  }

  &-Button {
    @include page-button;
  }

  &-Switches {
    width: 100% !important;
    margin: 0 auto $xxl !important;
  }

  &-RolesTitle {
    margin-bottom: $sm;
  }

  &-Switch {
    align-items: center;
    display: grid !important;
    font-size: $xxl-font-size !important;
    font-weight: 600;
    justify-items: center;
    height: 55px;
    color: $white !important;
    cursor: pointer;

    &_auditor {
      background-color: $secondary !important;
    }
    &_customer {
      background-color: $primary !important;
    }
    &_disable {
      background-color: $disabled_bg_color !important;
      color: $text_color !important;
    }
  }

  &-Icon {
    color: $litle_light_gray;
    font-size: 20px !important;
  }

  &-Error {
    margin: $sm 0 0 !important;
    background-color: $error_bg_color !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
}
