@import 'styles/styles.scss';

.CustomerAuditCard {
  @include audit-card;
  height: 360px !important;

  &-AuditorName {
    font-size: $lg-font-size !important;
    margin: 0 auto !important;
    font-weight: 300;
    color: blue;
    text-align: center;
  }

  &-Price {
    font-size: $md-font-size;
    margin: 10px auto;
    color: $text-color;
  }

  &-Date {
    display: flex;
    align-items: center;
  }

  &-StatusBar {
    display: flex;
    justify-content: center;
  }

  &-SingleButtonGrid {
    display: flex;
    height: 111px !important;
  }

  &-Button {
    width: 80% !important;
    min-width: 0 !important;
    margin: $sm/2 auto !important;

    &_view {
      margin: 0 auto !important;
    }

    &_single {
      margin: auto !important;
    }
  }
}
