@mixin page-alert {
  padding-top: 2px !important;
  padding-bottom: 2px !important;

  &_success {
    background-color: $success_bg_color !important;
  }
  &_error {
    background-color: $error_bg_color !important;
  }
}
