@mixin page-input {
  border: 1px solid $light_gray;
  width: 100%;
  min-width: 60px;
  border-radius: 0px !important;

  > input:-webkit-autofill,
  > input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
  > input[data-autocompleted] {
    background-color: transparent !important;
  }

  > input {
    color: $text_color;
    padding: 5px 10px;
  }

  &_error {
    border: 1px solid $red !important;
  }

  &_disabled {
    border: 1px solid $super_light_gray !important;
  }
}
