@import 'styles/styles.scss';

.MuiTabs-indicator {
  display: none;
}

.AuditorPage {
  @include page-panel;

  @media screen and (max-width: $screen-xs-width) {
    zoom: 120% !important;
  }

  max-width: 600px !important;
  padding-top: $padding-normal !important;
  padding-bottom: $padding-normal !important;
  border: 3px solid $secondary !important;
  padding: 0 !important;
  margin-top: 151px !important;

  &-Title {
    @include page-title;
    top: -116px;
  }

  &-Tabs {
    position: absolute;
    top: -51px;
    left: -3px;
    right: -3px;
  }

  &-Tab {
    width: 33.3% !important;
    color: $text_color !important;
    margin: 5px 0 -5px 0 !important;
    border-radius: 10px !important;
    border: 1px solid $light_gray !important;
    background-color: $super_light_gray !important;
    text-transform: none !important;

    @media screen and (max-width: $screen-sm-width) {
      font-size: $xs !important;
      padding: 2px !important;
    }

    &_active {
      background-color: $secondary !important;
      color: $white !important;
      border: none !important;
    }
  }

  &-Loading {
    margin: $margin-normal auto !important;
    color: $secondary !important;
  }

  &-Empty {
    font-size: $xl-font-size !important;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: $margin-normal auto !important;
  }

  &-TabPanel {
    padding: 50px 80px !important;

    @media screen and (max-width: $screen-sm-width) {
      padding: 0 !important;
    }

    &_audits {
      padding: 10px !important;
    }

    &_requests {
      padding: 10px !important;
    }
  }

  &-Button {
    margin: $margin-normal auto !important;
  }
}
